.wrapper {
	margin: 50px auto;
	width: 50%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttonSection {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1.5px grey solid;
}

.buttonSection button {
	flex-basis: 50%;
	border: none;
	padding: 20px;
	cursor: pointer;
	font-size: 16pt;
}

.buttonSection button:nth-child(1) {
	border-right: 1.5px grey solid;
	border-top-left-radius: 10px;
}
.buttonSection button:nth-child(2) {
	border-top-right-radius: 10px;
}

.selected {
	background-color: rgb(183, 120, 241);
	color: white;
}

.notSelected {
	background-color: transparent;
}

@media (max-width: 900px) {
	.wrapper {
		width: 75%;
	}

	.buttonSection button {
		font-size: 14pt;
	}
}

@media (max-width: 500px) {
	.wrapper {
		width: 95%;
	}

	.buttonSection button {
		font-size: 12pt;
	}
}
