.wrapper {
	border-radius: 7px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper img {
	margin-left: 100px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.wrapper button {
	margin-right: 100px;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
	cursor: pointer;
	background-color: rgb(183, 120, 241);
	color: white;
	border: none;
	font-size: 14pt;
}

.wrapper button:hover {
	background-color: rgb(146, 62, 224);
}

@media (max-width: 1000px) {
	.wrapper img {
		margin-left: 30px;
		width: 50px;
		height: 50px;
	}
	.wrapper button {
		margin-right: 30px;
		padding: 10px 20px 10px 20px;
		font-size: 12pt;
	}
}

@media (max-width: 400px) {
	.wrapper {
		flex-direction: column;
		justify-content: normal;
		align-items: center;
		gap: 10px;
	}
	.wrapper img {
		margin-left: 0;
		width: 30px;
		height: 30px;
	}
	.wrapper button {
		margin-right: 0;
		padding: 5px 10px 5px 10px;
		font-size: 10pt;
	}
}
