.container {
	width: 90%;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	text-align: center;
	font-size: 14pt;
}

.plusContainer {
	width: 150px;
	height: 50px;
	border-radius: 10px;
	padding: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.plusContainer:hover {
	background-color: grey;
}

.plusContainer i {
	font-size: 50pt;
	font-weight: bold;
}

.projectWrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

@media (max-width: 1000px) {
	.container {
		font-size: 12pt;
	}

	.plusContainer {
		width: 130px;
		height: 30px;
	}
	.plusContainer i {
		font-size: 40pt;
	}
}

@media (max-width: 500) {
	.container {
		width: 100%;
		font-size: 10pt;
	}

	.plusContainer i {
		font-size: 20pt;
	}

	.plusContainer {
		width: 100px;
		height: 20px;
	}

	.projectWrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
	}
}
