.wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.profileWrapper {
	margin: 30px auto;
	width: 55vw;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	text-align: center;
	font-size: 16pt;
	transition: all 0.3s ease-in-out;
}

.profileWrapper img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	object-fit: cover;
}

.headerWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 100px;
}

.headerInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.buttonWrapper {
	width: 97%;
	padding-top: 20px;
	border-top: 2px solid grey;
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.buttonWrapper button {
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
	cursor: pointer;
	background-color: rgb(183, 120, 241);
	color: white;
	border: none;
	font-size: 14pt;
	transition: all 0.3s ease-in-out;
}

.buttonWrapper button:hover {
	background-color: rgb(146, 62, 224);
}

.taskWrapper {
	width: 90%;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
}

@media (max-width: 1000px) {
	.profileWrapper {
		width: 80vw;
		font-size: 14pt;
	}

	.profileWrapper img {
		width: 200px;
		height: 200px;
	}

	.buttonWrapper button {
		padding: 10px 20px 10px 20px;
		font-size: 12pt;
	}

	.headerWrapper {
		gap: 50px;
	}
}

@media (max-width: 500px) {
	.profileWrapper {
		width: 90%;
		font-size: 12pt;
	}

	.profileWrapper img {
		width: 100px;
		height: 100px;
	}

	.buttonWrapper button {
		padding: 5px 10px 5px 10px;
		font-size: 10pt;
	}

	.headerWrapper {
		gap: 30px;
	}
}
