.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	border-bottom: 2px solid grey;
	font-size: 14pt;
	height: 140px;
	content-visibility: auto;
	contain-intrinsic-size: 300px;
}

.buttonWrapper {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.buttonWrapper button {
	padding: 5px 20px 5px 20px;
	border-radius: 20px;
	cursor: pointer;
	background-color: rgb(183, 120, 241);
	color: white;
	border: none;
	font-size: 12pt;
	transition: all 0.3s ease-in-out;
}

.buttonWrapper button:hover {
	background-color: rgb(146, 62, 224);
}

.buttonWrapper i {
	color: rgb(0, 210, 0);
	font-size: 16pt;
}

.userWrapper {
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

.userWrapper img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
}

.info {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	border: solid 1px grey;
	border-radius: 50%;
	cursor: pointer;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.info:hover {
	background-color: darkgrey;
}

.info i {
	color: grey;
	font-size: 12pt;
}

@media (max-width: 1000px) {
	.wrapper {
		font-size: 12pt;
	}

	.buttonWrapper i {
		font-size: 14pt;
	}

	.info i {
		font-size: 14pt;
	}

	.userWrapper img {
		width: 20px;
		height: 20px;
	}
	.info {
		width: 20px;
		height: 20px;
	}
	.info i {
		font-size: 10pt;
	}
}

@media (max-width: 500px) {
	.wrapper {
		font-size: 10pt;
	}

	.buttonWrapper button {
		padding: 5px 10px 5px 10px;
		font-size: 10pt;
	}

	.info {
		padding: 5px 10px 5px 10px;
		font-size: 10pt;
	}

	.info i {
		font-size: 12pt;
	}

	.buttonWrapper i {
		font-size: 12pt;
	}
	.buttonWrapper {
		flex-direction: column;
		gap: 10px;
		justify-content: center;
		align-items: center;
	}
	.info {
		right: 5px;
		top: 5px;
	}
	.info i {
		font-size: 8pt;
	}
}
