.wrapper {
	width: 100%;
	background-color: rgb(183, 120, 241);
	color: white;
	height: 75px;
	display: flex;
	gap: 50px;
	align-items: center;
	justify-content: flex-start;
}

.wrapper ul {
	flex-basis: 80%;
	padding-left: 50px;
	display: flex;
	justify-content: flex-start;
	gap: 50px;
	align-items: center;
	font-size: 16pt;
	font-weight: bold;
}

.wrapper button {
	border-radius: 20px;
	padding: 10px 30px 10px 30px;
	font-size: 14pt;
	border: none;
	cursor: pointer;
	color: black;
}

.wrapper button:hover {
	color: white;
	background-color: rgb(146, 62, 224);
}

.wrapper i {
	font-size: 16pt;
	cursor: pointer;
}

@media (max-width: 1000px) {
	.wrapper {
		gap: 30px;
	}
	.wrapper ul {
		flex-basis: 70%;
		font-size: 14pt;
		gap: 30px;
	}
	.wrapper button {
		padding: 10px 20px 10px 20px;
	}
	.wrapper i {
		font-size: 14pt;
	}
}

@media(max-width:500px){
    .wrapper {
		gap: 15px;
        flex-direction: column;
        align-items: center;
        height: auto;
        text-align: center;
        padding: 10px;
	}
    .wrapper ul {
        flex-basis: 10%;
		font-size: 12pt;
		gap: 10px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-left: 0;
        justify-content: center;
	}
    .wrapper button{
        padding: 5px 10px 5px 10px;
    }
    .wrapper i{
        font-size: 12pt;
    }
}
